@model InmobiliariaApp.Models.Propietario

@{
    ViewData["Title"] = "Detalles del Propietario";
}

<h1 class="text-center p-3">Editar propietario @Model.Nombre @Model.Apellido</h1>

<form asp-action="Actualizar">
    <div class="d-flex flex-column gap-2 justify-content-center align-items-center w-50 mx-auto">

        <div class="dni w-100">
            <label asp-for="DNIPropietario" class="form-label">DNI</label>
            <input asp-for="DNIPropietario" class="form-control" placeholder="Ingrese el DNI del propietario" required readonly />
        </div>

        <div class="nombre w-100">
            <label asp-for="Nombre" class="form-label">Nombre</label>
            <input asp-for="Nombre" class="form-control" placeholder="Ingrese el nombre del propietario" required />
        </div>

        <div class="apellido w-100">
            <label asp-for="Apellido" class="form-label">Apellido</label>
            <input asp-for="Apellido" class="form-control" placeholder="Ingrese el apellido del propietario" required />
        </div>

        <div class="celular w-100">
            <label asp-for="Celular" class="form-label">Teléfono</label>
            <input asp-for="Celular" class="form-control" placeholder="Ingrese el teléfono del propietario" required />
        </div>

        <div class="email w-100">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" placeholder="Ingrese el email del propietario" required type="email" />
        </div>

        <div class="w-100 text-center mt-4">
            <input type="submit" value="Actualizar" class="btn btn-success" />
            <a class="btn btn-primary ms-2" asp-controller="Propietario" asp-action="Listar">Volver al listado</a>
        </div>

    </div>
</form>