@model InmobiliariaApp.Models.Inquilino

@{
    ViewData["Title"] = "Crear inquilinos";
}

<h1 class="text-center p-3">Crear inquilino</h1>

<form asp-action="Insertar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="d-flex flex-column gap-2 justify-content-center align-items-center w-50 mx-auto">

        <div class="dni w-100">
            <label asp-for="DNIInquilino" class="form-label">DNI</label>
            <input asp-for="DNIInquilino" class="form-control" placeholder="Ingrese el DNI del inquilino" required />
            <span asp-validation-for="DNIInquilino" class="text-danger"></span>
        </div>

        <div class="nombre w-100">
            <label asp-for="Nombre" class="form-label">Nombre</label>
            <input asp-for="Nombre" class="form-control" placeholder="Ingrese el nombre del inquilino" required />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="apellido w-100">
            <label asp-for="Apellido" class="form-label">Apellido</label>
            <input asp-for="Apellido" class="form-control" placeholder="Ingrese el apellido del inquilino" required />
            <span asp-validation-for="Apellido" class="text-danger"></span>
        </div>

        <div class="celular w-100">
            <label asp-for="Celular" class="form-label">Teléfono</label>
            <input asp-for="Celular" class="form-control" placeholder="Ingrese el teléfono del inquilino" required />
            <span asp-validation-for="Celular" class="text-danger"></span>
        </div>

        <div class="email w-100">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" placeholder="Ingrese el email del inquilino" required type="email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="w-100 text-center mt-4">
            <input type="submit" value="Crear" class="btn btn-success" />
            <a class="btn btn-primary ms-2" asp-controller="Inquilino" asp-action="Listar">Volver al listado</a>
        </div>

    </div>
</form>

@if (TempData["Mensaje"] != null)
{
    <script>
        Swal.fire({
            title: '¡Éxito!',
            text: '@TempData["Mensaje"]',
            icon: 'success',
            confirmButtonText: 'OK'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Inquilino/Listar";
            }
        });
    </script>
}else if (TempData["Error"] != null)
{
    <script>
        Swal.fire({
            title: '¡Error!',
            text: '@TempData["Error"]',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    </script>
}
